body {
    margin: 0;
    padding: 0;
    background: #232323;
}

.title {
    color: #efefef;
    border: 1px solid #efefef;
    line-height: 1rem;
    font-size: 36px;
    padding: 100px;
    text-align:center;
    border-radius: 25px;
    width: 75%;
    margin: auto;
    border: 1px solid white;
    background: royalblue;
}
.title-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.game-section {
    color: #efefef;
    padding: 50px;
    display: flex;
    flex-flow: wrap row;
    font-family: monospace;
    justify-content: space-evenly;
}

.header,
.user-input,
.wins-losses {
    background: royalblue;
}

.user-input>h4 {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    flex: .25;
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}
.message {
    font-size: 16px;
    font-family: monospace;
    animation-name: fadeInOut;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.play-state {
    display: none;
}
.user-input {
    display: block;
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    flex: .25;
}

.wins-losses {
    display: block;
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    flex: .25;
}

.restart-btn {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    background: rgb(71, 71, 71);
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 700px) {
    .game-section {
        display: flex;
        flex-direction: column;
        color: #efefef;
    }
}