body {
    margin: 0;
    padding: 0;
}

.title {
    color: #efefef;
    text-decoration: underline;
    font-size: 36px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid white;
    background: royalblue;
}

.game-section {
    color: #efefef;
    padding: 50px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
}

.header,
.user-input,
.wins-losses {
    background: royalblue;
}

.user-input>h4 {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    flex: .3;
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}

.user-input {
    display: block;
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    flex: .3;
}

.wins-losses {
    display: block;
    font-size: 24px;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
    flex: .3;
}

.end-game {
    height: 200px;
    width: 100px;
    display: none;
    position: relative;
    margin: 0 auto;
}

.restart-btn {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    background: rgb(71, 71, 71);
}

@media screen and (max-width: 700px) {
    .game-section {
        display: flex;
        flex-direction: column;
        color: #efefef;
    }
}