*, 
*:after, 
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation-content {
    height: 100%;
    position: absolute;
    width: 100%;
    top:0px;
    left: 0px;
}

.navigation {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 8px;
}

.circular-nav {
    position: relative;
}

.trigger-element {
    border: 1px solid black;
    border-radius: 10%;
    height: 100px;
    width: 100px;
    background: royalblue;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    border: none;
}

.trigger-element:hover {
    background: lightblue;
    cursor: pointer;
}

.nav-element {
    background: royalblue;
    border-radius: 9999px;
    color: white;
    height: 100px;
    position: absolute;
    width: 100px;
    display: none;
    border: none;
    cursor: pointer;
}

.game-links {
    text-decoration: none;
    color: #fff;
    font-family: monospace;
    font-size: 18px;
}

.game-link-one {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: rotate(0deg);
    width: 100%;
}

.game-link-two {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: rotate(180deg);
    width: 100%;
}

.game-link-three {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: rotate(-270deg);
    width: 100%;
}

.nav-element:hover {
    background: lightblue;
}

.animate-nav-one {
    animation-name: fadeInNavOne;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.animate-nav-two {
    animation-name: fadeInNavTwo;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

.animate-nav-three {
    animation-name: fadeInNavThree;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.element {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: rotate(0deg);
    width: 100%;
}

@keyframes fadeInNavOne {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInNavTwo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInNavThree {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
